---
import { ViewTransitions } from "astro:transitions"

import MainLayout from "@/layouts/MainLayout.astro"

import { CreateWorkoutForm } from "@/components/workouts/forms"
---

<ViewTransitions />
<MainLayout title="Workout">
  <div
    class="flex h-full w-full flex-col gap-2 animate-in fade-in md:max-w-6xl md:flex-row"
  >
    <CreateWorkoutForm client:only="react" />
  </div>
</MainLayout>
