---
import MainLayout from "@/layouts/MainLayout.astro"

import { EditWorkoutForm } from "@/components/workouts/forms"

const { id } = Astro.params
---

<MainLayout title="Edit Workout">
  <div
    class="flex h-full w-full flex-col gap-2 animate-in fade-in md:max-w-6xl md:flex-row"
  >
    <EditWorkoutForm client:only="react" workoutId={id!} />
  </div>
</MainLayout>
