---
import "@/styles/globals.css"

import { ViewTransitions } from "astro:transitions"

const { title } = Astro.props
---

<script>
  function CheckTheme() {
    const storedTheme = localStorage.getItem("theme")
    const theme =
      typeof localStorage !== "undefined" && storedTheme
        ? storedTheme
        : window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light"

    document.documentElement.classList.toggle("dark", theme !== "light")

    window.localStorage.setItem("theme", theme)
  }

  window.addEventListener("DOMContentLoaded", CheckTheme)
  document.addEventListener("astro:after-swap", CheckTheme)
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main
      class={`flex h-screen flex-col items-center md:p-4 px-2 py-2 lg:py-14`}
      transition:animate="none"
    >
      <slot />
    </main>
  </body>
</html>
